<%- include("./headFoot/header.ejs"); -%>


<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="about-title clearfix">
          <h1>About <span>Vishal</span></h1>
          <h3>FullStack Devekoper</h3>
          <p class="about-paddingB">
            My name is Vishal Patel, currently pursuing Bachelor of Technology
            in University Institute of Engineering and Technology, Kanpur. I am
            a passionate fullstack developer. I love to design and create web
            apps from scratch. The technologies, tools and languages I am using
            to build my projects are HTML, CSS, JavaScript, REACT JS, Bootstrap,
            Express.js,MongoDB, Git and GitHub, and VS Code.
          </p>
          <p>
            I have eagerness to learn something new every day and I love to
            share my knowledge to my fellow students and developers. And I am
            looking forward to talk with you!
          </p>
          <div class="about-icons">
            <ul>
              <li>
                <a href="mailto:officialmailakp@gmail.com" target="_blank"
                  ><i
                    id="social-em"
                    class="fa fa-envelope-square fa-3x social"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
      
      </div>
    </div>
  </div>
</div>

<%- include("./headFoot/footer.ejs"); -%>
