<%- include("./headFoot/header.ejs"); -%>
<!-- <h1>Contact Page</h1> -->
<!--Section: Contact v.2-->
<section class="mb-4">
    
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact me</h2>
    <!--Section description-->
    <!-- <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p> -->
        <div class="col-md-3 text-center contact">
            <ul class="list-unstyled mb-0">
                <li><h4 class="h1-responsive font-weight-bold text-center my-4">Vishal Patel</h4></li>
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Kanpur, India</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+918400173495</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <a href="mailto:officialmailakp@gmail.com" target="_blank">officialmailakp@gmail.com</a>
                </li>
            </ul>
        </div>

    <div class="row">
        

        <!--Grid column-->
      
        <!--Grid column-->

        <!--Grid column-->
     
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->

<%- include("./headFoot/footer.ejs"); -%>