.Title{
padding-bottom: 10px;
width: 60%;
margin: auto;
}

.comment{
    padding-bottom: 10px;
}

.publishBtn{
    width: auto;
    margin: auto;
    text-align: center;
}

body{
    background-color: rgba(232, 240, 247, 0.761);
}

.compose{
    float: right;
    margin-right: 50px;
}
